@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #000;
  line-height: normal;
  font-family: "Raleway";
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться 
ко всем  классам, содержащим *__container 
Например, header__container, main__container и т.п. 
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 90.625rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

.--header-off {
  display: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: rgba(43, 43, 43, 0.7);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  text-align: center;
  align-items: center;
}

.menu__link {
  color: #fff;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.hero-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-8.18%, rgba(219, 66, 101, 0.2)), color-stop(47.49%, rgba(219, 66, 101, 0)));
  background: linear-gradient(180deg, rgba(219, 66, 101, 0.2) -8.18%, rgba(219, 66, 101, 0) 47.49%);
  overflow: hidden;
  padding-bottom: 8.4375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section::before {
  content: "";
  width: 807px;
  height: 950px;
  position: absolute;
  left: 0;
  background: url("../img/icons/decor1.svg") 0 0 no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.hero-section::after {
  content: "";
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  background: url("../img/icons/decor2.svg") 0 0 no-repeat;
  height: 950px;
  width: 735px;
}

.hero-section__container {
  position: relative;
}

.hero-section__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section__title {
  font-weight: 700;
}

.hero-section__text {
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.53;
}

.hero-section__image-ibg {
  padding-bottom: 133.2524271845%;
}

.hero-section__image-ibg img {
  border-radius: 57px;
  border: 1px solid black;
}

.hero-section__arrow-button {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: moveUpDown 1.5s ease-in-out infinite;
          animation: moveUpDown 1.5s ease-in-out infinite;
  /* Назначаем анимацию */
}

@-webkit-keyframes moveUpDown {
  0%, 100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
  }

  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes moveUpDown {
  0%, 100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
  }

  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.--item-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.45%;
          flex: 0 1 57.45%;
}

.--item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.22%;
          flex: 0 1 29.22%;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.about-section__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.36%;
          flex: 0 1 29.36%;
}

.about-section__content {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67.09%;
          flex: 0 1 67.09%;
}

.image-about {
  border-radius: 34px;
  padding: 30px 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), #db4265;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #db4265;
  color: #fff;
  text-align: center;
}

.image-about__photo-ibg {
  padding-bottom: 132.5581395349%;
}

.image-about__photo-ibg:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.image-about__photo-ibg img {
  border-radius: 32px;
  padding: 3px;
  background: radial-gradient(circle at top left, black 15%, transparent 50%), radial-gradient(circle at bottom right, black 15%, transparent 50%);
}

.image-about__title {
  font-weight: 600;
}

.image-about__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.image-about__text {
  font-weight: 400;
}

.content-about {
  text-align: center;
}

.content-about__info {
  line-height: 154.167%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-about__text {
  position: relative;
}

.content-about__text:first-child::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  height: 3px;
  width: 88px;
  background-color: #db4265;
}

.body-section__benefit {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38.68%, rgba(219, 66, 101, 0)), to(rgba(219, 66, 101, 0.2)));
  background: linear-gradient(180deg, rgba(219, 66, 101, 0) 38.68%, rgba(219, 66, 101, 0.2) 100%);
}

.benefit-section__title {
  text-align: center;
}

.benefit-section__title:not(:last-child) {
  margin-bottom: 4.375rem;
}

.benefit-section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 80.1px;
     -moz-column-gap: 80.1px;
          column-gap: 80.1px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefit-section__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 266px;
}

.benefit-section__item {
  height: 100%;
}

.item-benefit {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 10px;
  text-align: center;
  border-radius: 40px;
  border: 3px solid var(--Black, #3f3f3f);
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

.item-benefit::before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/icons/blur.svg") 0 0 no-repeat;
}

.item-benefit > *:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-benefit__image-container {
  padding: 0 29px;
}

.item-benefit__image {
  border-radius: 24px;
  -webkit-backdrop-filter: blur(8.5500001907px);
          backdrop-filter: blur(8.5500001907px);
}

.item-benefit__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-benefit__content:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-benefit__footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-benefit__title {
  font-weight: 600;
}

.item-benefit__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-benefit__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.43;
}

.item-benefit__button-container {
  padding: 0 13px;
}

.item-benefit__button {
  text-align: center;
  border-radius: 30px;
  border: 3px solid #db4265;
  padding: 9px 30px 10px 30px;
  font-weight: 700;
  font-size: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-section__image {
  opacity: 0;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.about-section__content {
  opacity: 0;
  -webkit-transition: all 7s;
  transition: all 7s;
}

.active-section .about-section__image {
  opacity: 1;
}

.active-section .about-section__content {
  opacity: 1;
}

@media (min-width: 61.99875em) {
  .hero-section__items {
    gap: 35px;
  }
}

@media (min-width: 84.18625em) {
  .benefit-section__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 90.625em) {
  body {
    font-size: 1.5rem;
  }

  .title {
    font-size: 3rem;
  }

  .menu__list {
    min-height: 4.375rem;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .hero-section__title {
    font-size: 3.5rem;
  }

  .hero-section__text {
    font-size: 1.75rem;
  }

  .about-section {
    padding-top: 11.875rem;
  }

  .about-section__container {
    row-gap: 1.875rem;
  }

  .image-about__title {
    font-size: 1.625rem;
  }

  .image-about__text {
    font-size: 1.25rem;
  }

  .content-about__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .content-about__info {
    gap: 3.75rem;
  }

  .content-about__text:first-child::before {
    bottom: -1.875rem;
  }

  .benefit-section {
    padding-top: 11.25rem;
  }

  .benefit-section__title:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .item-benefit__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 118.75em) {
  .hero-section::after {
    top: 0.0000000625rem;
  }
}

@media (min-width: 120em) {
  .hero-section {
    padding-top: 16.6875rem;
  }

  .hero-section::before {
    top: 0.0000000625rem;
  }

  .hero-section::before {
    left: 0.0000000625rem;
  }

  .hero-section::after {
    right: 0.0000000625rem;
  }

  .hero-section__title:not(:last-child) {
    margin-bottom: 9.5625rem;
  }
}

@media (max-width: 75em) {
  .hero-section {
    padding-top: 200px;
  }

  .--item-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 59%;
            flex: 0 1 59%;
  }

  .--item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39%;
            flex: 0 1 39%;
  }
}

@media (max-width: 102.1875em) {
  .hero-section {
    padding-top: 15rem;
  }
}

@media (max-width: 102.1875em) and (max-width: 75.0625em) {
  .hero-section {
    padding-top: 16.875rem;
  }
}

@media (max-width: 100.8125em) {
  .hero-section::before {
    left: -2.5rem;
  }
}

@media (max-width: 100.8125em) and (max-width: 61.99875em) {
  .hero-section::before {
    left: -6.5625rem;
  }
}

@media (max-width: 90.625em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 90.49875em) {
  .about-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 84.18625em) {
  .column-benefit--last {
    max-width: 522px;
  }
}

@media (max-width: 62.5em) {
  .benefit-section__items {
    row-gap: 30px;
  }
}

@media (max-width: 61.99875em) and (max-width: 22.5em) {
  .hero-section {
    padding-top: 7.125rem;
  }

  .hero-section__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .hero-section::before {
    top: -3.125rem;
  }

  .hero-section::before {
    display: none;
  }

  .hero-section::after {
    top: -11.25rem;
  }

  .hero-section::after {
    right: -18.75rem;
  }

  .hero-section::after {
    display: none;
  }

  .hero-section__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hero-section__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .hero-section__arrow-button {
    display: none;
  }

  .--item-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .--item-content:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .--item-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 368px;
  }

  .image-about {
    padding: 20px 25px;
    max-width: 348px;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .hero-section {
    padding-bottom: 3.75rem;
  }

  .about-section {
    padding-bottom: 3.75rem;
  }

  .image-about {
    max-width: 265px;
  }

  .benefit-section {
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }

  .menu__list {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .--item-image {
    max-width: 292px;
  }
}

@media (max-width: 22.5em) {
  body {
    font-size: 1rem;
  }

  .title {
    font-size: 1.4375rem;
  }

  .menu__list {
    min-height: 2.875rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .hero-section__title {
    font-size: 1.75rem;
  }

  .hero-section__text {
    font-size: 1.125rem;
  }

  .about-section {
    padding-top: 5.25rem;
  }

  .about-section__container {
    row-gap: 1.25rem;
  }

  .image-about__title {
    font-size: 1.25rem;
  }

  .image-about__text {
    font-size: 1rem;
  }

  .content-about__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-about__info {
    gap: 2.5rem;
  }

  .content-about__text:first-child::before {
    bottom: -1.25rem;
  }

  .benefit-section {
    padding-top: 5.25rem;
  }

  .benefit-section__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-benefit__title {
    font-size: 1.25rem;
  }
}

@media (min-width: 22.5em) and (max-width: 90.625em) {
@supports (font-size: clamp( 1rem , 0.8348623853rem  +  0.7339449541vw , 1.5rem )) {
    body {
      font-size: clamp( 1rem , 0.8348623853rem  +  0.7339449541vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8348623853rem  +  0.7339449541vw , 1.5rem )) {
    body {
      font-size: calc(1rem + 0.5 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.4375rem , 0.9214449541rem  +  2.2935779817vw , 3rem )) {
    .title {
      font-size: clamp( 1.4375rem , 0.9214449541rem  +  2.2935779817vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 0.9214449541rem  +  2.2935779817vw , 3rem )) {
    .title {
      font-size: calc(1.4375rem + 1.5625 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (min-height: clamp( 2.875rem , 2.379587156rem  +  2.2018348624vw , 4.375rem )) {
    .menu__list {
      min-height: clamp( 2.875rem , 2.379587156rem  +  2.2018348624vw , 4.375rem );
    }
}

@supports not (min-height: clamp( 2.875rem , 2.379587156rem  +  2.2018348624vw , 4.375rem )) {
    .menu__list {
      min-height: calc(2.875rem + 1.5 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0424311927rem  +  0.3669724771vw , 1.375rem )) {
    .menu__link {
      font-size: clamp( 1.125rem , 1.0424311927rem  +  0.3669724771vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0424311927rem  +  0.3669724771vw , 1.375rem )) {
    .menu__link {
      font-size: calc(1.125rem + 0.25 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.75rem , 1.1720183486rem  +  2.5688073394vw , 3.5rem )) {
    .hero-section__title {
      font-size: clamp( 1.75rem , 1.1720183486rem  +  2.5688073394vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.1720183486rem  +  2.5688073394vw , 3.5rem )) {
    .hero-section__title {
      font-size: calc(1.75rem + 1.75 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9185779817rem  +  0.9174311927vw , 1.75rem )) {
    .hero-section__text {
      font-size: clamp( 1.125rem , 0.9185779817rem  +  0.9174311927vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9185779817rem  +  0.9174311927vw , 1.75rem )) {
    .hero-section__text {
      font-size: calc(1.125rem + 0.625 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (padding-top: clamp( 5.25rem , 3.0619266055rem  +  9.7247706422vw , 11.875rem )) {
    .about-section {
      padding-top: clamp( 5.25rem , 3.0619266055rem  +  9.7247706422vw , 11.875rem );
    }
}

@supports not (padding-top: clamp( 5.25rem , 3.0619266055rem  +  9.7247706422vw , 11.875rem )) {
    .about-section {
      padding-top: calc(5.25rem + 6.625 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 1.0435779817rem  +  0.9174311927vw , 1.875rem )) {
    .about-section__container {
      row-gap: clamp( 1.25rem , 1.0435779817rem  +  0.9174311927vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 1.0435779817rem  +  0.9174311927vw , 1.875rem )) {
    .about-section__container {
      row-gap: calc(1.25rem + 0.625 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.126146789rem  +  0.5504587156vw , 1.625rem )) {
    .image-about__title {
      font-size: clamp( 1.25rem , 1.126146789rem  +  0.5504587156vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.126146789rem  +  0.5504587156vw , 1.625rem )) {
    .image-about__title {
      font-size: calc(1.25rem + 0.375 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9174311927rem  +  0.3669724771vw , 1.25rem )) {
    .image-about__text {
      font-size: clamp( 1rem , 0.9174311927rem  +  0.3669724771vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9174311927rem  +  0.3669724771vw , 1.25rem )) {
    .image-about__text {
      font-size: calc(1rem + 0.25 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4621559633rem  +  1.8348623853vw , 3.125rem )) {
    .content-about__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4621559633rem  +  1.8348623853vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4621559633rem  +  1.8348623853vw , 3.125rem )) {
    .content-about__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (gap: clamp( 2.5rem , 2.0871559633rem  +  1.8348623853vw , 3.75rem )) {
    .content-about__info {
      gap: clamp( 2.5rem , 2.0871559633rem  +  1.8348623853vw , 3.75rem );
    }
}

@supports not (gap: clamp( 2.5rem , 2.0871559633rem  +  1.8348623853vw , 3.75rem )) {
    .content-about__info {
      gap: calc(2.5rem + 1.25 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (bottom: clamp( -1.875rem , -1.0435779817rem  +  -0.9174311927vw , -1.25rem )) {
    .content-about__text:first-child::before {
      bottom: clamp( -1.875rem , -1.0435779817rem  +  -0.9174311927vw , -1.25rem );
    }
}

@supports not (bottom: clamp( -1.875rem , -1.0435779817rem  +  -0.9174311927vw , -1.25rem )) {
    .content-about__text:first-child::before {
      bottom: calc(-1.25rem + -0.625 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (padding-top: clamp( 5.25rem , 3.2683486239rem  +  8.8073394495vw , 11.25rem )) {
    .benefit-section {
      padding-top: clamp( 5.25rem , 3.2683486239rem  +  8.8073394495vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 5.25rem , 3.2683486239rem  +  8.8073394495vw , 11.25rem )) {
    .benefit-section {
      padding-top: calc(5.25rem + 6 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.0493119266rem  +  3.6697247706vw , 4.375rem )) {
    .benefit-section__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.0493119266rem  +  3.6697247706vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0493119266rem  +  3.6697247706vw , 4.375rem )) {
    .benefit-section__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 22.5rem) / 68.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1674311927rem  +  0.3669724771vw , 1.5rem )) {
    .item-benefit__title {
      font-size: clamp( 1.25rem , 1.1674311927rem  +  0.3669724771vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1674311927rem  +  0.3669724771vw , 1.5rem )) {
    .item-benefit__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 22.5rem) / 68.125);
    }
}
}

@media (min-width: 102.1875em) and (max-width: 120em) {
@supports (padding-top: clamp( 15rem , 5.3190789474rem  +  9.4736842105vw , 16.6875rem )) {
    .hero-section {
      padding-top: clamp( 15rem , 5.3190789474rem  +  9.4736842105vw , 16.6875rem );
    }
}

@supports not (padding-top: clamp( 15rem , 5.3190789474rem  +  9.4736842105vw , 16.6875rem )) {
    .hero-section {
      padding-top: calc(15rem + 1.6875 * (100vw - 102.1875rem) / 17.8125);
    }
}
}

@media (max-width: 102.1875em) and (min-width: 94.75em) {
  .hero-section {
    padding-top: 15rem;
  }
}

@media (max-width: 102.1875em) and (min-width: 75.0625em) and (max-width: 94.75em) {
@supports (padding-top: clamp( 15rem , 24.0238095238rem  +  -9.5238095238vw , 16.875rem )) {
    .hero-section {
      padding-top: clamp( 15rem , 24.0238095238rem  +  -9.5238095238vw , 16.875rem );
    }
}

@supports not (padding-top: clamp( 15rem , 24.0238095238rem  +  -9.5238095238vw , 16.875rem )) {
    .hero-section {
      padding-top: calc(16.875rem + -1.875 * (100vw - 75.0625rem) / 19.6875);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 61.99875em) {
  .hero-section {
    padding-top: 12.5rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 22.5em) and (max-width: 61.99875em) {
@supports (padding-top: clamp( 7.125rem , 4.0631942467rem  +  13.6080255704vw , 12.5rem )) {
    .hero-section {
      padding-top: clamp( 7.125rem , 4.0631942467rem  +  13.6080255704vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 7.125rem , 4.0631942467rem  +  13.6080255704vw , 12.5rem )) {
    .hero-section {
      padding-top: calc(7.125rem + 5.375 * (100vw - 22.5rem) / 39.49875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 120em) {
@supports (top: clamp( -3.125rem , -6.4653779681rem  +  5.3878150255vw , 0.0000000625rem )) {
    .hero-section::before {
      top: clamp( -3.125rem , -6.4653779681rem  +  5.3878150255vw , 0.0000000625rem );
    }
}

@supports not (top: clamp( -3.125rem , -6.4653779681rem  +  5.3878150255vw , 0.0000000625rem )) {
    .hero-section::before {
      top: calc(-3.125rem + 3.1250000625 * (100vw - 61.99875rem) / 58.00125);
    }
}

@supports (right: clamp( -18.75rem , -38.7922674748rem  +  32.3268896144vw , 0.0000000625rem )) {
    .hero-section::after {
      right: clamp( -18.75rem , -38.7922674748rem  +  32.3268896144vw , 0.0000000625rem );
    }
}

@supports not (right: clamp( -18.75rem , -38.7922674748rem  +  32.3268896144vw , 0.0000000625rem )) {
    .hero-section::after {
      right: calc(-18.75rem + 18.7500000625 * (100vw - 61.99875rem) / 58.00125);
    }
}

@supports (margin-bottom: clamp( 3.125rem , -3.7561784768rem  +  11.0988987306vw , 9.5625rem )) {
    .hero-section__title:not(:last-child) {
      margin-bottom: clamp( 3.125rem , -3.7561784768rem  +  11.0988987306vw , 9.5625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , -3.7561784768rem  +  11.0988987306vw , 9.5625rem )) {
    .hero-section__title:not(:last-child) {
      margin-bottom: calc(3.125rem + 6.4375 * (100vw - 61.99875rem) / 58.00125);
    }
}
}

@media (min-width: 100.8125em) and (max-width: 120em) {
@supports (left: clamp( -2.5rem , -15.6351794815rem  +  13.0293162866vw , 0.0000000625rem )) {
    .hero-section::before {
      left: clamp( -2.5rem , -15.6351794815rem  +  13.0293162866vw , 0.0000000625rem );
    }
}

@supports not (left: clamp( -2.5rem , -15.6351794815rem  +  13.0293162866vw , 0.0000000625rem )) {
    .hero-section::before {
      left: calc(-2.5rem + 2.5000000625 * (100vw - 100.8125rem) / 19.1875);
    }
}
}

@media (max-width: 100.8125em) and (min-width: 100.8125em) {
  .hero-section::before {
    left: -2.5rem;
  }
}

@media (max-width: 100.8125em) and (min-width: 61.99875em) and (max-width: 100.8125em) {
@supports (left: clamp( -6.5625rem , -13.0516931822rem  +  10.4666516376vw , -2.5rem )) {
    .hero-section::before {
      left: clamp( -6.5625rem , -13.0516931822rem  +  10.4666516376vw , -2.5rem );
    }
}

@supports not (left: clamp( -6.5625rem , -13.0516931822rem  +  10.4666516376vw , -2.5rem )) {
    .hero-section::before {
      left: calc(-6.5625rem + 4.0625 * (100vw - 61.99875rem) / 38.81375);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 118.75em) {
@supports (top: clamp( -11.25rem , -23.5402304597rem  +  19.8233520187vw , 0.0000000625rem )) {
    .hero-section::after {
      top: clamp( -11.25rem , -23.5402304597rem  +  19.8233520187vw , 0.0000000625rem );
    }
}

@supports not (top: clamp( -11.25rem , -23.5402304597rem  +  19.8233520187vw , 0.0000000625rem )) {
    .hero-section::after {
      top: calc(-11.25rem + 11.2500000625 * (100vw - 61.99875rem) / 56.75125);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 90.625em) {
  .hero-section__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 22.5em) and (max-width: 90.625em) {
@supports (margin-bottom: clamp( 0.625rem , -0.2006880734rem  +  3.6697247706vw , 3.125rem )) {
    .hero-section__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -0.2006880734rem  +  3.6697247706vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2006880734rem  +  3.6697247706vw , 3.125rem )) {
    .hero-section__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 2.5 * (100vw - 22.5rem) / 68.125);
    }
}
}

@media (min-width: 62.5em) and (max-width: 84.18625em) {
  .item-benefit--last {
    width: 522px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 35px 42px;
    gap: 10px;
    margin-top: 1.875rem;
    max-height: 255px;
  }

  .item-benefit--last .item-benefit__image-container {
    max-height: 185px;
    padding: 0;
    margin: 0;
  }

  .item-benefit--last .item-benefit__content {
    margin: 0;
  }
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .menu__link:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  .item-benefit__button:hover {
    color: white;
    background: #db4265;
  }
}