//====================================================================================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(100px);
  background: rgba(19, 133, 152, 0.7);
  &__container {
  }
  &__menu {
  }
}
.menu {
  &__body {
  }
  &__list {
    display: flex;
    text-align: center;
    @include adaptiveValue("min-height", 70, 50);
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    @media (min-width: $mobileSmall) {
      gap: 75px;
      justify-content: flex-start;
    }
  }

  &__item {
    padding: 10px;
    @include adaptiveValue("font-size", 22, 18);
    color: #fff;
    font-weight: 400;
    transition: all 0.3s;
    cursor: pointer;
    flex-basis: 33.333%;
    @media (min-width: $mobileSmall) {
      flex-basis: auto;
    }
    @media (any-hover: hover) {
      &:hover {
        color: rgba(255, 255, 255, 0.7);
        .menu__link_last path {
          fill: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  &__link {
    &_last {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        display: none;
      }
      @media (min-width: $mobileSmall) {
        p {
          display: block;
        }
      }
      path {
        transition: all 0.3s;
      }
    }
  }
}
//====================================================================================================

//Burger

// .icon-menu {
// 	display: none;
// 	@media (max-width: $mobile) {
// 		display: block;
// 		position: relative;
// 		width: toRem(30);
// 		height: toRem(18);
// 		z-index: 5;
// 		@media (any-hover: none) {
// 			cursor: default;
// 		}
// 		span,
// 		&::before,
// 		&::after {
// 			content: "";
// 			transition: all 0.3s ease 0s;
// 			right: 0;
// 			position: absolute;
// 			width: 100%;
// 			height: toRem(2);
// 			background-color: #000;
// 		}
// 		&::before {
// 			top: 0;
// 		}
// 		&::after {
// 			bottom: 0;
// 		}
// 		span {
// 			top: calc(50% - toRem(1));
// 		}
// 		.menu-open & {
// 			span {
// 				width: 0;
// 			}
// 			&::before,
// 			&::after {
// 			}
// 			&::before {
// 				top: calc(50% - toRem(1));
// 				transform: rotate(-45deg);
// 			}
// 			&::after {
// 				bottom: calc(50% - toRem(1));
// 				transform: rotate(45deg);
// 			}
// 		}
// 	}
// }
