//====================================================================================================
.hero-section {
  background: linear-gradient(180deg, rgba(219, 66, 101, 0.2) -8.18%, rgba(219, 66, 101, 0) 47.49%);
  overflow: hidden;
  padding-bottom: toRem(135);
  @include adaptiveValue("padding-top", 267, 240, 0, 1920, 1635);
  @media (max-width: em(1635)) {
    @include adaptiveValue("padding-top", 240, 270, 0, 1516, 1201);
  }
  @media (max-width: em(1200)) {
    padding-top: 200px;
  }

  @media (max-width: $tablet) {
    @include adaptiveValue("padding-top", 200, 114, 0, 991.98, 360);
  }
  @media (max-width: $mobile) {
    padding-bottom: toRem(60);
  }
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 807px;
    height: 950px;
    position: absolute;
    @include adaptiveValue("top", 0, -50, 0, 1920, 991.98);
    left: 0;
    @include adaptiveValue("left", 0, -40, 0, 1920, 1613);
    @media (max-width: em(1613)) {
      @include adaptiveValue("left", -40, -105, 0, 1613, 991.98);
    }
    background: url("@img/icons/decor1.svg") 0 0 no-repeat;
    user-select: none;
    z-index: -1;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    @include adaptiveValue("top", 0, -180, 0, 1900, 991.98);
    @include adaptiveValue("right", 0, -300, 0, 1920, 991.98);
    user-select: none;
    z-index: -1;
    background: url("@img/icons/decor2.svg") 0 0 no-repeat;
    height: 950px;
    width: 735px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__container {
    position: relative;
  }
  &__items {
    align-items: center;
    justify-content: space-between;
    display: flex;
    @media (min-width: $tablet) {
      gap: 35px;
    }
    @media (max-width: $tablet) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
  }
  &__content {
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 56, 28);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 153, 50, 0, 1920, 991.98);
      @media (max-width: $tablet) {
        @include adaptiveValue("margin-bottom", 50, 10, 991.98);
      }
    }
  }
  &__text {
    color: rgba(0, 0, 0, 0.9);
    @include adaptiveValue("font-size", 28, 18);
    line-height: 1.53;
  }
  &__image-ibg {
    padding-bottom: percent(549, 412);
    img {
      border-radius: 57px;
      border: 1px solid black;
    }
  }
  &__arrow-button {
    position: absolute;
    bottom: -60px;

    left: 50%;
    transform: translate(-50%, 0);
    animation: moveUpDown 1.5s ease-in-out infinite; /* Назначаем анимацию */
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translate(-50%, 15px);
  }
  50% {
    transform: translate(-50%, 0);
  }
}

.--item-content {
  flex: 0 1 57.45%;
  @media (max-width: em(1200)) {
    flex: 0 1 59%;
  }
  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
    flex: 1 1 100%;
  }
}
.--item-image {
  flex: 0 1 29.22%;
  @media (max-width: em(1200)) {
    flex: 0 1 39%;
  }
  @media (max-width: $tablet) {
    flex: 1 1 100%;
    max-width: 368px;
  }
  @media (max-width: $mobileSmall) {
    max-width: 292px;
  }
}

//====================================================================================================
.about-section {
  @media (max-width: $mobile) {
    padding-bottom: toRem(60);
  }
  @include adaptiveValue("padding-top", 190, 84);
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    @include adaptiveValue("row-gap", 30, 20);
    @media (max-width: em(1447.98)) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 0 1 29.36%;
  }
  &__content {
    height: 100%;
    flex: 0 1 67.09%;
  }
}
.image-about {
  border-radius: 34px;
  padding: 30px 35px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #db4265;
  color: #fff;
  text-align: center;
  @media (max-width: $tablet) {
    padding: 20px 25px;
    max-width: 348px;
  }
  @media (max-width: $mobile) {
    max-width: 265px;
  }
  &__photo-ibg {
    padding-bottom: percent(456, 344);
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
    img {
      border-radius: 32px;
      padding: 3px;
      background: radial-gradient(circle at top left, black 15%, transparent 50%),
        radial-gradient(circle at bottom right, black 15%, transparent 50%);
    }
  }
  &__title {
    @include adaptiveValue("font-size", 26, 20);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__text {
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 400;
  }
}
.content-about {
  text-align: center;
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  &__info {
    line-height: 154.167%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 60, 40);
  }
  &__text {
    position: relative;
    &:first-child {
      &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("bottom", -30, -20);
        left: 50%;
        transform: translate(-50%);
        height: 3px;
        width: 88px;
        background-color: #db4265;
      }
    }
  }
}
//========================================================================================================================================================
.body-section__benefit {
  background: linear-gradient(180deg, rgba(219, 66, 101, 0) 38.68%, rgba(219, 66, 101, 0.2) 100%);
}
.benefit-section {
  @media (max-width: $mobile) {
    padding-bottom: toRem(60);
  }
  @include adaptiveValue("padding-top", 180, 84);
  &__container {
  }
  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(70);
      @include adaptiveValue("margin-bottom", 70, 30);
    }
  }
  &__items {
    // margin: 0 -40.5px;
    display: flex;
    justify-content: center;
    column-gap: 80.1px;
    flex-wrap: wrap;
    @media (min-width: em(1346.98)) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    @media (max-width: em(1000)) {
      row-gap: 30px;
    }
  }
  &__column {
    // padding: 0 40.5px;
    flex: 0 1 25%;
    max-width: 266px;
  }
  &__item {
    height: 100%;
  }
}
.title {
}
.item-benefit {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 10px;
  text-align: center;
  border-radius: 40px;
  border: 3px solid var(--Black, #3f3f3f);
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    filter: blur(25px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("@img/icons/blur.svg") 0 0 no-repeat;
  }
  & > * {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__image-container {
    padding: 0 29px;
  }
  &__image {
    border-radius: 24px;
    backdrop-filter: blur(8.550000190734863px);
  }
  &__content {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__footer {
    flex: 1 1 100%;

    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20);
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.43;
  }
  &__button-container {
    padding: 0 13px;
  }
  &__button {
    text-align: center;
    border-radius: 30px;
    border: 3px solid #db4265;
    padding: 9px 30px 10px 30px;
    font-weight: 700;
    font-size: toRem(20);
    justify-content: center;
    display: inline-flex;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: white;
        background: #db4265;
      }
    }
  }
  &--last {
    @media (min-width: em(1000)) and (max-width: em(1346.98)) {
      width: 522px;
      flex-direction: row;
      padding: 35px 42px;
      gap: 10px;
      margin-top: toRem(30);
      max-height: 255px;
      .item-benefit {
        &__image-container {
          max-height: 185px;
          padding: 0;
          margin: 0;
        }
        &__footer {
        }
        &__content {
          margin: 0;
        }
      }
    }
  }
}
.column-benefit--last {
  @media (max-width: em(1346.98)) {
    max-width: 522px;
  }
}

@media (any-hover: hover) {
  .about-section {
    &__image {
      opacity: 0;
      transition: all 2s;
    }
    &__content {
      opacity: 0;
      transition: all 4s;
    }
  }
}
.active-section {
  .about-section {
    &__image {
      opacity: 1;
    }
    &__content {
      opacity: 1;
    }
  }
}

//========================================================================================================================================================
