//====================================================================================================
.hero-section {
  @include adaptiveValue("padding-top", 267, 220, 0, 1920, 1200);
  padding-bottom: toRem(377);

  @media (max-width: em(1200)) {
    @include adaptiveValue("padding-top", 160, 170, 0, 1200, 1032);
  }
  @media (max-width: $tablet) {
    @include adaptiveValue("padding-top", 225, 114, 0, 991.98, 360);
    @include adaptiveValue("padding-bottom", 150, 22, 0, 991.98, 360);
  }
  position: relative;
  display: flex;
  align-items: center;
  &__decor-left {
    position: absolute;
    @include adaptiveValue("top", 0, -205, 0, 1920, 991.98);
    @include adaptiveValue("left", 0, -60, 0, 1920, 991.98);
    user-select: none;
    z-index: -1;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__decor-right {
    position: absolute;
    @include adaptiveValue("right", 0, -230, 0, 1920, 991.98);
    @include adaptiveValue("top", 0, 310, 0, 1920, 991.98);
    user-select: none;
    z-index: -1;
    img {
      @include adaptiveValue("width", 812, 812, 0, 1920, 991.98);
      @include adaptiveValue("height", 1095, 756, 0, 1920, 991.98);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__container {
    position: relative;
  }
  &__items {
    align-items: center;
    justify-content: space-between;
    display: flex;
    @media (min-width: $tablet) {
      gap: 35px;
    }
    @media (max-width: $tablet) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
  }
  &__content {
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 56, 28);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 153, 50, 0, 1920, 991.98);
      @media (max-width: $tablet) {
        @include adaptiveValue("margin-bottom", 50, 10, 991.98);
      }
    }
  }
  &__text {
    color: rgba(0, 0, 0, 0.9);
    @include adaptiveValue("font-size", 28, 18);
    line-height: 1.53;
  }
  &__image-ibg {
    padding-bottom: percent(549, 412);
    img {
      border-radius: 57px;
      border: 1px solid black;
    }
  }
  &__arrow-button {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: moveUpDown 1s ease-in-out infinite; /* Назначаем анимацию */
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translate(-50%, 15px);
  }
  50% {
    transform: translate(-50%, 0);
  }
}

.--item-content {
  flex: 0 1 57.45%;
  @media (max-width: em(1200)) {
    flex: 0 1 59%;
  }
  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
    flex: 1 1 100%;
  }
}
.--item-image {
  flex: 0 1 29.22%;
  @media (max-width: em(1200)) {
    flex: 0 1 39%;
  }
  @media (max-width: $tablet) {
    flex: 1 1 100%;
    max-width: 368px;
  }
  @media (max-width: $mobileSmall) {
    max-width: 292px;
  }
}

//====================================================================================================
.about-section {
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    @include adaptiveValue("row-gap", 30, 20);
    @media (max-width: em(1447.98)) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    flex: 0 1 29.36%;
  }
  &__content {
    height: 100%;
    flex: 0 1 67.09%;
  }
}
.image-about {
  border-radius: 34px;
  padding: 30px 35px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #db4265;
  color: #fff;
  text-align: center;
  @media (max-width: $tablet) {
    padding: 20px 25px;
    max-width: 348px;
  }
  @media (max-width: $mobile) {
    max-width: 265px;
  }
  &__photo-ibg {
    padding-bottom: percent(456, 344);
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
    img {
      border-radius: 32px;
      padding: 3px;
      background: radial-gradient(circle at top left, black 15%, transparent 50%),
        radial-gradient(circle at bottom right, black 15%, transparent 50%);
    }
  }
  &__title {
    @include adaptiveValue("font-size", 26, 20);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  &__text {
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 400;
  }
}
.content-about {
  text-align: center;
  &__title {
    font-size: toRem(48);
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  &__info {
    line-height: 154.167%;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 60, 40);
  }
  &__text {
    position: relative;
    &:first-child {
      &::before {
        content: "";
        position: absolute;
        @include adaptiveValue("bottom", -30, -20);
        left: 50%;
        transform: translate(-50%);
        height: 3px;
        width: 88px;
        background-color: #db4265;
      }
    }
  }
}
